<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<body>
<div id="templatemo_header" th:fragment="header">
    <div id="site_title"><h1><a href="#">Gsein的技术小屋</a></h1></div>
    <div id="social">
        <a href="https://github.com/lhing17" target="_blank"><img src="/images/github.png" alt="github"/></a>
        <a href="http://weibo.com/lhing17" target="_blank"><img src="/images/weibo.png" alt="weibo"/></a>
        <a href="#"><img src="/images/rss.png" alt="rss"/></a>
    </div>
</div>
</body>
</html>