<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<body>
<div id="templatemo_menu" th:fragment="menu">
    <ul>
        <li id="index"><a href="/index">主页</a></li>
        <li id="programmer"><a href="/articleList/9b743c67937811e7b36e9c5c8e6d8f44">程序员</a></li>
        <li id="game_designer"><a href="/articleList/a0df5321937811e7b36e9c5c8e6d8f44">游戏设计</a></li>
        <li id="investor"><a href="/articleList/acfbd690937811e7b36e9c5c8e6d8f44">投资者</a></li>
        <li class="last" id="translator"><a href="/articleList/b10f49dd937811e7b36e9c5c8e6d8f44">翻译官</a></li>
    </ul>
</div>
</body>
</html>