<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<body>
<div id="sidebar" th:fragment="sidebar">

    <div id="nne">

        <h3>Gsein的大事记</h3>
        <ul class="nne_box">
            <li th:each="memorabilia: ${memorabiliaList}">
                <span th:text="${#calendars.format(memorabilia.eventTime, 'yyyy年MM月dd日')}"></span>
                <a th:text="${memorabilia.eventDescription}" href="#">Gsein的技术小屋开张</a>
            </li>
        </ul>
        <div class="cleaner"></div>
       <!-- <p><a href="#" class="more float_r"><span>&gt;&gt;</span>更多</a></p>-->
    </div>

    <div id="member_login">

        <h3>这里可以登录哦~</h3>

        <form action="#" method="post">

            <label>用户名</label><input name="username" type="text" class="txt_field" id="name" title="name"
                                     value="" size="10" maxlength="30"/>
            <div class="cleaner h10"></div>
            <label>密码</label><input name="password" type="password" class="txt_field" id="password"
                                    title="password" value="" size="10" maxlength="30"/>
            <div class="cleaner h10"></div>
            <input type="submit" name="login" value="" alt="login" id="login" title="Search" class="sub_btn"/>

            <div><a href="#">注册一下吧</a></div>

        </form>

    </div>

</div>

</body>
</html>