<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<body>
<div id="sidebar" th:fragment="sidebar">

    <div id="nne">

        <h3>Gsein的大事记</h3>
        <ul class="nne_box">
            <li><span>2017年9月7日</span><a href="#">Gsein的技术小屋开张</a></li>
            <li><span>2017年2月16日</span><a href="#">入职某不知名互联网企业</a></li>
            <li><span>2016年9月28日</span><a>开始在某培训机构接受Java培训</a></li>
            <li><span>2016年8月28日</span><a>步入婚姻殿堂</a></li>
            <li><span>2016年6月15日</span><a href="#">从某国企离职，立志走上程序员之路</a></li>
            <li><span>2014年7月2日</span><a href="#">在某知名高校完成某理科专业硕士学位的研读</a></li>
        </ul>
        <div class="cleaner"></div>
        <p><a href="#" class="more float_r"><span>&gt;&gt;</span>更多</a></p>
    </div>

    <div id="member_login">

        <h3>这里可以登录哦~</h3>

        <form action="#" method="post">

            <label>用户名</label><input name="username" type="text" class="txt_field" id="name" title="name"
                                     value="" size="10" maxlength="30"/>
            <div class="cleaner h10"></div>
            <label>密码</label><input name="password" type="password" class="txt_field" id="password"
                                    title="password" value="" size="10" maxlength="30"/>
            <div class="cleaner h10"></div>
            <input type="submit" name="login" value="" alt="login" id="login" title="Search" class="sub_btn"/>

            <div><a href="#">注册一下吧</a></div>

        </form>

    </div>

</div>

</body>
</html>