body, .body-gray {
    background-color: #e3e3e1;
    /*color: #ff0000!important;*/
}

#wrapper {
    width: 1180px;
    margin: 0 auto;
}

.header{
    width: 100%;
    height: 140px;
    background-color: #ffffff;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 50px;
}
.footer{
    clear: both;
    width: 100%;
    height: 140px;
    background-color: #202020;
    text-align: center;
    color: #ffffff;
    padding-top: 30px;
    margin-bottom: 50px;
}


.main {
    width: 865px;
    float: left;
}

.aside {
    margin-left: 35px;
    width: 280px;
    float: right;
}

.blog_info {
    padding: 35px 35px 0 30px;
    /*background-color: #70e4fd;*/
    background-color: #ffffff;
    height: 350px;
    margin-bottom: 40px;
}

.info_bar {
    color: #808080;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}

.blog_tag {
    display: -moz-inline-box;
    display: inline-block;
    width: 265px;
}

.time {
    display: -moz-inline-box;
    display: inline-block;
    width: 165px;
}

.views {
    display: -moz-inline-box;
    display: inline-block;
    margin-left: 100px;
    width: 200px;
}

.blog_title {
    text-align: center;
}

.digest {
    width: 680px;
    height: 320px;
    float: left;
}

.picture {
    float: left;
    width: 225px;
    height: 225px;
}

.picture img {
    width: 100%;
    height: 100%;
}

.digest_content {
    float: left;
    width: 400px;
    margin-left: 30px;
}

.shallow {
    color: #808080;
}

.author_info {
    text-align: center;
    float: right;
}

.author {
    margin: 0 auto;
}

.author_name {
    color: #FFB0D4;
}

.author_avatar {
    width: 60px;
    height: 60px;
}

p {
    margin-top: 0;
    letter-spacing: 1px;
    overflow: hidden;
}

.blog_share{
    text-align: center;
}

.weibo {
    width: 41.5px;
    height: 43px;
    margin: 0 auto;
    background: url("../images/share_icon.jpg");
    background-position: 0 -129px;
    background-size: 100%;
    /*filter:alpha(opacity=70);*/
}

.qq {
    width: 41.5px;
    height: 43px;
    margin: 0 auto;
    background: url("../images/share_icon.jpg");
    background-position: 0 0;
    background-size: 100%;
}

.qzone {
    width: 41.5px;
    height: 43px;
    margin: 0 auto;
    background: url("../images/share_icon.jpg");
    background-position: 0 -43px;
    background-size: 100%;
}

.friend_circle {
    width: 41.5px;
    height: 43px;
    margin: 0 auto;
    background: url("../images/share_icon.jpg");
    background-position: 0 -86px;
    background-size: 100%;
}

.aside_panel{
    height: 400px;
    background-color: #ffffff;
    padding: 25px 20px 0 30px;
    margin-bottom: 40px;
}

.category_title, .archive_title{
    text-align: center;
}

.blog_article{
    padding: 30px;
    background-color: #ffffff;
}