<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gsein的个人博客</title>
    <link rel="stylesheet" type="text/css" href="css/gsein_index.css"/>
</head>
<body>
<div id="wrapper">
    <div class="header">
        <h1 class="blog_name">BLACK & WHITE</h1>
    </div>
    <div class="main">
        <div class="blog_info">
            <div class="info_bar">
                <span class="blog_tag">值得看一千次的图片</span>
                <span class="time">2017/8/28 16:22</span>
                <span class="read_amount">112次</span>
            </div>
            <div class="digest">
                <h2 class="blog_title">值得看一千次的图片</h2>
                <div class="picture"><img src="images/timg.jpg"></div>
                <div class="blog_content">
                    <p class="dark">图片分为背景图片和通过img标签引入的图片，前者可以通过media query自动的切换不同分辨率的版本，</p>
                    <p class="shallow">但是在不支持background images
                        size的浏览器中背景图片无法无级的调整大小（也就是在media
                        query切换css的点上可以换一张不同分辨率的图，但是没法儿获得两张分辨率中间大小的版本），而且在很多情况下（比如cms中）并不适合用背景图片。</p>
                </div>
            </div>
            <div class="author_info">
                <h3 class="author">作者</h3>
                <div class="author_name">贼卡拉</div>
                <img class="author_avatar" src="images/avatar.jpg">
                <div class="blog_share">
                    <div class="weibo"></div>
                    <div class="qq"></div>
                    <div class="qzone"></div>
                    <div class="friend_circle"></div>
                </div>
            </div>
        </div>
        <div class="blog_info">
            <div class="info_bar">
                <span class="blog_tag">值得看一千次的图片</span>
                <span class="time">2017/8/28 16:22</span>
                <span class="read_amount">112次</span>
            </div>
            <div class="digest">
                <h2 class="blog_title">值得看一千次的图片</h2>
                <div class="picture"><img src="images/timg.jpg"></div>
                <div class="blog_content">
                    <p class="dark">图片分为背景图片和通过img标签引入的图片，前者可以通过media query自动的切换不同分辨率的版本，</p>
                    <p class="shallow">但是在不支持background images
                        size的浏览器中背景图片无法无级的调整大小（也就是在media
                        query切换css的点上可以换一张不同分辨率的图，但是没法儿获得两张分辨率中间大小的版本），而且在很多情况下（比如cms中）并不适合用背景图片。</p>
                </div>
            </div>
            <div class="author_info">
                <h3 class="author">作者</h3>
                <div class="author_name">贼卡拉</div>
                <img class="author_avatar" src="images/avatar.jpg">
                <div class="blog_share">
                    <div class="weibo"></div>
                    <div class="qq"></div>
                    <div class="qzone"></div>
                    <div class="friend_circle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="aside">
        <div class="categories aside_panel">
            <h2 class="category_title">分类</h2>
            <div class="traveling">旅行 (12)</div>
            <div class="photos">照片 (28)</div>
            <div class="lifestyles">生活方式 (4)</div>
            <div class="inspiration">心灵鸡汤 (4)</div>
            <div class="fashion">时尚 (28)</div>
            <div class="business">商业 (9)</div>
            <div class="technology">科技 (16)</div>
        </div>
        <div class="archive aside_panel">
            <h2 class="archive_title">归档</h2>
            <div>2014 (12)</div>
            <div>2015 (28)</div>
            <div>2016 (9)</div>
            <div>2017 (16)</div>
        </div>
    </div>
    <div class="footer">
        <h1 class="blog_name_white">BLACK & WHITE</h1>
    </div>
</div>
</body>
</html>