<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gsein的个人博客</title>
    <link rel="stylesheet" type="text/css" href="css/gsein_index.css"/>
</head>
<body>
<div id="wrapper">
    <div class="main">
        <div class="blog_info">
            <div class="info_bar">
                <span class="blog_tag">值得看一千次的图片</span>
                <span class="time">2017/8/28 16:22</span>
                <span class="read_amount">112次</span>
            </div>
            <div class="digest">
                <h2 class="blog_title">值得看一千次的图片</h2>
                <div class="picture"><img src="image/timg.jpg"></div>
                <div class="blog_content">
                    <p class="dark">图片分为背景图片和通过img标签引入的图片，前者可以通过media query自动的切换不同分辨率的版本，</p>
                    <p class="shallow">但是在不支持background image
                        size的浏览器中背景图片无法无级的调整大小（也就是在media
                        query切换css的点上可以换一张不同分辨率的图，但是没法儿获得两张分辨率中间大小的版本），而且在很多情况下（比如cms中）并不适合用背景图片。</p>
                </div>
            </div>
            <div class="author_info">
                <h3 class="author">作者</h3>
                <div class="author_name">贼卡拉</div>
                <img class="author_avatar" src="image/avatar.jpg">
                <div class="blog_share">
                    <div class="weibo">微博</div>
                    <div class="tencent">QQ空间</div>
                    <div class="wechat">微信</div>
                    <div class="friend_circle">朋友圈</div>
                </div>
            </div>
        </div>
        <div class="blog_info"></div>
        <div class="comments"></div>
    </div>
    <div class="aside">
        <div class="contact_me"></div>
    </div>
</div>
</body>
</html>