<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!--suppress ALL -->
<mapper namespace="cn.gsein.blog.front.mapper.ArticleMapper">
    <resultMap id="articleMap" type="article">
        <id property="id" column="id"/>
        <result property="readAmount" column="read_amount"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="publishTime" column="publish_time"/>
        <result property="createTime" column="create_time"/>
        <result property="lastUpdateTime" column="last_update_time"/>
        <result property="status" column="status"/>
        <association property="author" javaType="user">
            <id property="id" column="id"/>
            <result property="username" column="username"/>
            <result property="password" column="password"/>
            <result property="avatarUrl" column="avatar_url"/>
            <result property="createTime" column="create_time"/>
            <result property="lastUpdateTime" column="last_update_time"/>
            <result property="status" column="status"/>
        </association>
        <association property="tag" javaType="tag">

        </association>
        <association property="category" javaType="category">

        </association>
    </resultMap>
    <insert id="save" parameterType="article">
        <selectKey keyProperty="id" resultType="String" order="BEFORE">
            select replace(uuid(),'-','') from dual
        </selectKey>
        INSERT INTO blog_article (id, tag_id, category_id, read_amount, title, content, user_id, status)
        VALUES (#{id}, #{tag.id}, #{category.id}, #{readAmount}, #{title}, #{content}, #{author.id}, '0')
    </insert>

    <update id="delete" parameterType="article">
        update blog_article set status='1' where id=#{id} and status='0'
    </update>

    <update id="deleteById" parameterType="string">
        update blog_article set status='1' where id=#{id} and status='0'
    </update>

    <update id="update" parameterType="article">
        update blog_article
        set read_amount=#{readAmount},
        title=#{title},
        content=#{content},
        publish_time=#{publishTime},
        last_update_time=CURRENT_TIMESTAMP,
        tag_id=#{tag.id},
        category_id=#{category.id},
        user_id=#{author.id}
        where id=#{id} and status='0'
    </update>

    <select id="findById" parameterType="string" resultMap="articleMap">
        select * from blog_article a left join blog_user u
        on a.user_id = u.id
        where a.id=#{id} and a.status='0';
    </select>

    <select id="findAll" resultMap="articleMap">
        select * from blog_article a left join blog_user u
        on a.user_id = u.id
        where a.status='0';
    </select>

    <select id="findTotalCount" resultType="integer">
        select count(*) from blog_article where status='0';
    </select>
</mapper>