<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!--suppress ALL -->
<mapper namespace="cn.gsein.blog.usermanager.mapper.UserMapper">

    <resultMap id="userMap" type="cn.gsein.blog.usermanager.entity.User">
        <id property="userId" column="user_id"/>
        <result property="userAccount" column="user_account"/>
        <result property="password" column="password"/>
        <result property="point" column="point"/>
        <result property="mobileNumber" column="mobile_number"/>
        <result property="registerDate" column="register_date"/>
        <result property="level" column="level" />
        <result property="nickname" column="nickname" />
        <result property="avatarUrl" column="avatar_url" />
        <result property="authority" column="authority" />
        <collection property="articles" ofType="cn.gsein.blog.articlemanager.entity.Article" column="user_id" select="cn.gsein.blog.articlemanager.mapper.ArticleMapper.queryByUserId"></collection>
    </resultMap>

    <insert id="insert" parameterType="cn.gsein.blog.usermanager.entity.User">
        INSERT INTO user (user_id, user_account, password, authority, point, level, mobile_number, register_date, nickname, avatar_url)
        VALUES (#{userId}, #{userAccount}, #{password},#{authority}, #{point}, #{level}, #{mobileNumber}, #{registerDate}, #{nickname}, #{avatarUrl})
    </insert>

    <select id="queryCount" resultType="Integer">
        SELECT COUNT(*) FROM user
    </select>

    <select id="queryAll" resultMap="userMap">
        SELECT * FROM user
    </select>

    <select id="queryByPrimaryKey" parameterType="Integer" resultMap="userMap">
        SELECT * FROM user where user_id = #{userId}
    </select>

    <select id="queryAllByPageAndOrder" parameterType="cn.gsein.blog.base.entity.PageAndOrder" resultMap="userMap">
        SELECT * FROM user
        <if test="orderStatement!=''">
            ORDER BY ${orderStatement}
        </if>
        LIMIT #{startIndex}, #{rowsPerPage}
    </select>
</mapper>